* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  line-height: 1.618em;
  background: #2c3e50;
}
.wrapper {
  width: 100%;
  padding: 5rem;
  text-align: left;
  background-color: blue;
  border: 0.5rem solid #34495e;
}
hr {
  border: 0;
  border-bottom: 0.0625rem solid #bbb;
  margin: 3rem 0;
}
button {
  font-size: 10px;
  background: #3498db;
  color: #fff;
  border: 0.25rem solid #3498db;
  padding: 14px 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #3498db;
}
button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button::after {
  transition: all 0.35s;
}
button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
button::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

